.App {
    text-align: center;
    background-color: rgba(360, 360, 360, 0.8);
    border-radius: 25px;
    padding: 2rem;
    margin: 3rem;
    border: solid 1px black;
}

body {
    background-image: url("./simpsons.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
}

.title{
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color: #ff80fe;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
}

.answer{
    width: 15%;
    height: 3vh;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
}

button, .submit {
    padding: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
    margin: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}
.submit:hover{
    background-color: #81c0f6;
}
button:hover{
    background-color: #81c0f6;
}

.timer{
    background-color: #FF80FEFF;
    padding: 0.9rem;
    border-radius: 25px;
    margin: 1rem;
    border: solid 1px black;
}

.timerWrapper{
    display: flex;
    justify-content: center;
}

.tryAgainMessage{
    animation: color-change 1s infinite;
}
@keyframes color-change {
    0% { color: black; }
    50% { color: rgba(246,81,50) }
    100% { color: black; }
}

.correctMessage{
    animation-name: disappear;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}

.losingMessage{
    animation: color-change 3s infinite;
}

@media only screen and (max-width: 545px) {
    .title {
        font-size: 1.5rem;
    }
    body {
        background-image: url("./simpsons.png");
        background-size: auto;
        background-repeat: no-repeat;
        font-size: 0.8rem;
    }
    button, .submit {
        padding: 0.3rem;
        margin: 0.8rem;
        font-size: 0.6rem;
    }
    .answer{
        width: 30vw;
    }
}