.App {
    text-align: center;
    background-color: rgba(360, 360, 360, 0.7);
    border-radius: 25px;
    padding: 2rem;
    margin: 3rem;
}

body {
    background-image: url("./simpsons.png");
    background-size: cover;
    background-repeat: no-repeat;
}
